<?php

/**
 * This is the config file for RateLimit. Just drop this file into your config/autoload folder (don't
 * forget to remove the .dist extension from the file), and configure it as you want
 */

return [
    'rate_limit' => [
        /**
         * Set the list of routes that should be subject to rate limiting. Example: api*.
         */
        'routes' => [],

        /**
         * Lets you define separate limit / period settings per-route. Example: 'dragon-byte-tech.rpc.version-check' => ['limit' => 10, 'period' => 30]
         */
        'route_specific_limits' => [],

        /**
         * This should be a storage adapter service locator key compatible with Zend Cache Abstract Adapter
         */
        'storage' => '',

        /**
         * Maximum number of requests per time period (configured below)
         */
        'limit' => 5,

        /**
         * Set the rate limit period duration (in seconds).
         */
        'period' => 30,
    ]
];
